.input{
    background-color: #A8D0E6;
}

.form {
    display: flex;
    justify-content: space-between;
}

.submit {
    box-sizing: border-box;
    height: 60px;
    width: 100px;
    background-color: #F76C6C;
}

.submit:hover {
    border: solid #464646;
    border-width: 0 0 5px 3px;
}

.submit:active {
    border: solid #464646;
    border-width: 2px 1px 0 0;
}