#add-button {
    background-color: aqua;
}

#add-button:hover{
    cursor: pointer;
    background-color: aquamarine;
}

.grid-container {
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 10%;
}