.trackbox {
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto 74px;
}

.trackName, .artist, .album{
    padding: 0 0 0 10px;
    width: 100%;
}

.trackName {
    font-size: 1.5rem;
}

.button {
    box-sizing: border-box;
    float: right;
    height: 64px;
    border: 0;
    background-color: #F76C6C;
    margin: 0 5px;
    font-size: 2rem;
    font-weight: 800;
}

.button:hover {
    border: solid #464646;
    border-width: 0 0 5px 3px;
}

.button:active {
    border: solid #464646;
    border-width: 2px 1px 0 0;
}